| Name | SNR |
| --- | --- |
| Emy Meurs | u1250696 |
| Dennis Berens | u1251106 |

# Title
**Subtitle**

In [280]:
#load extensions

import pandas as pd
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.figure_factory as ff
import plotly.tools as tls
import numpy as np
from IPython.display import display
from IPython.display import Image

## Introduction

[text here]

In [281]:
#load dataset

hpi_i = pd.read_csv("hpi.csv", delimiter=";", skiprows=1) #Housing price index
hpi_2 = hpi_i.drop(hpi_i.columns[[0, 1, 3]], axis=1) #Remove excess columns
hpi = hpi_2.transpose() #Switch row/column such that years are rows
cpi_i = pd.read_csv("cpi.csv", delimiter=",") #Consumer Price Index
cpi = cpi_i
sp_i = pd.read_csv("sp.csv", delimiter=";", skiprows=3) # Selling price houses
sp = sp_i.transpose()
rc_i = pd.read_csv("rc.csv") #Rental cost increase
rc = rc_i.transpose()

In [282]:
## Remove unneccessary rows and columns
hpid = hpi.drop([2, 3, 4, 7, 8, 9, 10, 11, 13, 14, 16, 21], axis=1)
hpid2 = hpid.drop(hpid.index[1:77])
hpid3 = hpid2.drop(['2014 2nd quarter', '2014 3rd quarter', '2014 4th quarter', '2015 2nd quarter', '2015 3rd quarter', '2015 4th quarter', '2016 2nd quarter', '2016 3rd quarter'], axis=0)
hpid4 = hpid3.rename({'2014 1st quarter': '2014', '2015 1st quarter': '2015', '2016 1st quarter': '2016'})
hpid5 = hpid4.rename({'Regions': 'Years', '0': 'HP-NL', 'Noord-Nederland (LD)': 'HP-NN'})

cpid = cpi.drop(['CPI afgeleid', 'Jaarmutatie CPI', 'Jaarmutatie CPI afgeleid'], axis=1)
cpid2 = cpid.drop(cpid.index[1:13])
cpid3 = cpid2.drop(cpid2.index[2:14])
cpid4 = cpid3.drop(cpid3.index[3:16])

spd = sp.drop([1, 4, 5, 6, 7, 8, 10, 11, 13, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30], axis=1)
spd2 = spd.drop(spd.index[1:12])

rcd = rc.drop([2, 3, 4, 7, 8, 9, 10, 11, 13, 14, 16], axis=1)
rcd2 = rcd.drop(rcd.index[1])

hp_rf = hpid5 # House prices reformatted
cp_rf = cpid4 # Consumper prices reformatted
sp_rf = spd2 # Selling prices reformatted
rp_rf = rcd2 # Renting prices reformatted

In [288]:
df1 = pd.DataFrame(hp_rf)
df1m = df1.columns = ['HP-NL', 'HP-NN', 'HP-GR', 'HP-FR', 'HP-NH', 'HP-NB', 'HP-AM', 'HP-DH', 'HP-RD', 'HP-UT']
df1m1 = df1.drop(['Years'])
df1m1

     HP-NL HP-NN HP-GR HP-FR HP-NH HP-NB  HP-AM HP-DH HP-RD  HP-UT
2014  85.2  83.6  84.3    82  86.7  82.9   90.6  86.3  89.1   88.7
2015  87.3    85  86.6    83  90.3  84.6   99.6  88.5  92.6   94.8
2016  90.8  86.8  88.9  85.5  96.7  87.6  110.2  94.7  97.3  102.1

In [293]:
df2 = pd.DataFrame(cp_rf)
df2.index = ['2014', '2015', '2016']
df2m = df2.drop(['Perioden'], axis=1)
df2m #2

         CPI
2014   99,40
2015  100,00
2016  100,32

In [294]:
df12 = pd.concat([df1m1, df2m])

In [295]:
df12

         CPI  HP-AM HP-DH HP-FR HP-GR HP-NB HP-NH HP-NL HP-NN HP-RD  HP-UT
2014     NaN   90.6  86.3    82  84.3  82.9  86.7  85.2  83.6  89.1   88.7
2015     NaN   99.6  88.5    83  86.6  84.6  90.3  87.3    85  92.6   94.8
2016     NaN  110.2  94.7  85.5  88.9  87.6  96.7  90.8  86.8  97.3  102.1
2014   99,40    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN
2015  100,00    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN
2016  100,32    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN

In [ ]:
df3 = pd.DataFrame(sp_rf)

# Hieronder staat onzin die nog verwijderd moet worden! (spieken in tabellen)

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(hp_rf)

In [ ]:
df.head()

In [ ]:
list(df)

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(cpid4)

In [296]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(sp_rf)

                                  0               2               3   \
Onderwerp                   Perioden  Groningen (PV)  Friesland (PV)
Gemiddelde verkoopprijs.11      2014          165832          174240
Gemiddelde verkoopprijs.12      2015          171679          180461
Gemiddelde verkoopprijs.13      2016          180595          187950

                                            9                   12         14  \
Onderwerp                   Noord-Holland (PV)  Noord-Brabant (PV)  Amsterdam
Gemiddelde verkoopprijs.11              257128              228412     272438
Gemiddelde verkoopprijs.12              273911              235669     303925
Gemiddelde verkoopprijs.13              301899              248763     358976

                                                  18       26  \
Onderwerp                   's-Gravenhage (gemeente)  Tilburg
Gemiddelde verkoopprijs.11                    223820   198216
Gemiddelde verkoopprijs.12                    231302   204190
Gemiddelde verkoopprijs.13                    244849   208106

                                            27
Onderwerp                   Utrecht (gemeente)
Gemiddelde verkoopprijs.11              238446
Gemiddelde verkoopprijs.12              245900
Gemiddelde verkoopprijs.13              267618

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(rcd2)

## Data

[text here]

In [276]:
table = ff.create_table(df)
py.iplot(table, filename='table1')

#plotly is niet gratissss :(

Aw, snap! We don't have an account for ''. Want to try again? You can authenticate with your email address or username. Sign in is not case sensitive.

Don't have an account? plot.ly

Questions? support@plot.ly

PlotlyError: Because you didn't supply a 'file_id' in the call, we're assuming you're trying to snag a figure from a url. You supplied the url, '', we expected it to start with 'https://plot.ly'.
Run help on this function for more information.

In [ ]:
#work the data magic

#save to external csv file
#df.to_csv('finaldata.csv')

## Analysis

[text here]

In [ ]:
#graphs

In [ ]:
#regresssions

## Conclusion

[text here]

## References