| Name | SNR |
| --- | --- |
| Emy Meurs | u1250696 |
| Dennis Berens | u1251106 |

## Table of contents

<a href="#Introduction">Introduction</a>


<a href="#2">Research question and method</a>


<a href="#3">Answer</a>


<a href="#4">Importing libraries and data</a>


<a href="#5">data</a>


<a href="#6">Graphs</a>


<a href="#7">Regression</a>

### Introduction
<a name="Introduction"></a>

Piketty <a href="https://dowbor.org/blog/wp-content/uploads/2014/06/14Thomas-Piketty.pdf">(2014)</a> showed in his research that inequality is on the rise, this is mainly due to the faster growing r compared to g. Therefore the wealth of the capitalist class will grow faster than the incomes of workers, leading to an 'endless inegalitarion spiral'. One important factor of this increased wealth is housing. Also Maclennan and Miao <a href="http://www.tandfonline.com/doi/pdf/10.1080/14036096.2017.1293378">(2017)</a> provide some evidence of the importance of housing in total wealth. They show that the demand for housing is income inelastic, it will grow faster then income, and price inelastic, demand falls slower than the rise of the prices. This can explain the housing bubble that started the crisis in 2008, as housing is a great part of wealth a burst of the bubble creates a crisis. If we focus on the Netherlands, we can see that the housing prices are on the rise again and demand only keeps growing. As Claeys and schoenmaker <a href="http://bruegel.org/2017/01/amsterdams-boom-bust-housing-market-needs-its-own-mortgage-limits/">(2017)</a> show, especially Amsterdam is boomind at the moment. <img src="Capture.JPG" alt="picture">  In this assignment we will have a look if the bubble is enlargening in The Netherlands by looking at the demand versus income and the demand versus housing prices.

### Research question and method
<a name="2"></a>
question: Is there a housing bubble in the Netherlands?

Method: we will use data from the CPB that gives the national income, the housing prices and the amount of houses that has been sold. With this data we will see if there is indeed income elasticity and price inelasticity. We will compare the national income with the housing prices to se the correlation. After we will show how the housing prices move compared to the amount of houses sold in the Netherlands. Finally we will conduct a short regression on the effect of both housing prices as houses sold on the national income to see if Piketty was right, that housing has become a great part of wealth.

### Answer
<a name="3"></a>

### importing libraries and data
<a name="4"></a>

In [2]:
import pandas as pd
import plotly.plotly as py
import cufflinks as cf
import plotly.graph_objs as go
import plotly.figure_factory as f
import plotly.tools as tls
import numpy as np

## data
<a name="5"></a>

We use data from the StatLine site of the CPB. The data concerns the average primaire income of Dutch people from 2000-2016. We also use the Price index of existing houses in the Netherlands, these count or 1995-2000-2005-2011/2017. This time frame is also used for the amount of houses sold.

In [41]:
#load data set

avw = pd.read_csv("AVW.csv", delimiter=";", skiprows=1) #aantalverkochtewoningen
gpi = pd.read_csv("GPI.csv", delimiter=";") #gemiddeldprimairinkomen
pbw = pd.read_csv("PBW.csv", delimiter=";", skiprows=1) #prijsindexbestaandewoningen
avw_nederland = avw['Nederland']
pbw_nederland = pbw['Nederland']
pbw_amsterdam = pbw['Amsterdam']
time = pbw["Regio's"]
gpi_year = gpi["Unnamed: 0"]
gpi_income = gpi["Gemiddeld persoonlijk primair inkomen"]

In [42]:
tls.set_credentials_file(username='Emy', api_key='6Z8dyMacLHXEeYPFdA6L')

In [43]:
pbw

,Regio's,Nederland,Groningen (PV),Zuid-Holland (PV),Noord-Brabant (PV),Amsterdam,Rotterdam,Unnamed: 7
0,1995,37.6,38.1,38.9,36.2,30.0,37.1,NaN
1,2000,71.1,62.3,69.7,69.9,68.7,67.0,NaN
2,2005,94.4,94.5,95.4,94.8,81.9,93.3,NaN
3,2010,100.0,100.0,100.0,100.0,100.0,100.0,NaN
4,2011,97.6,96.9,98.3,96.8,99.7,99.3,NaN
5,2012,91.3,90.7,91.9,89.9,94.0,94.4,NaN
6,2013,85.3,85.8,86.3,83.4,89.1,89.1,NaN
7,2014,86.1,85.2,87.4,83.7,93.7,90.5,NaN
8,2015,88.5,87.5,90.0,85.6,102.8,94.5,NaN
9,2016,93.0,91.6,94.6,88.9,116.7,101.3,NaN
10,2017,100.0,96.8,102.5,94.3,133.1,114.4,NaN

In [44]:
gpi

    Unnamed: 0  Gemiddeld persoonlijk primair inkomen
0         2000                                   33.2
1         2001                                   35.3
2         2002                                   36.4
3         2003                                   36.6
4         2004                                   37.8
5         2005                                   38.4
6         2006                                   40.0
7         2007                                   42.4
8         2008                                   43.2
9         2009                                   42.9
10        2010                                   42.9
11        2011                                   43.2
12        2012                                   43.6
13        2013                                   43.7
14        2014                                   44.9
15        2015                                   45.2
16        2016                                   45.6

In [45]:
avw

,Nederland,Groningen (PV),Zuid-Holland (PV),Noord-Brabant (PV),Amsterdam,Rotterdam
0,154568,5512,36098,23502,2864,4987
1,189358,6871,43079,28002,4951,6533
2,206629,6837,46171,29671,9279,7332
3,126127,4347,27793,17330,7697,4363
4,120739,4093,26328,16697,7638,4015
5,117261,3722,24917,16583,7205,3726
6,110094,3590,23116,15683,6976,3581
7,153511,4748,31269,22286,11285,5080
8,178293,5420,37498,25304,12494,6166
9,214793,6435,46512,30762,12415,7664
10,241860,7297,52198,36329,11286,8278

### Grafieken moeten nog aangepast worden, er moet een vergelijking met een andere zijn, data van de huizen is raar in het begin dus moet anders naar gekeken worden
<a name="6"></a>

In [ ]:
trace1 = go.Scatter(x=time, y=pbw_nederland, name='Netherlands')
trace2 = go.Scatter(x=time, y=pbw_amsterdam, name='Amsterdam')
data1 = [trace1, trace2]
layout = dict(title = 'Housing Prices',
              xaxis = dict(title = 'Years'),
              yaxis = dict(title = 'Housing prices in euros (x1000)'),
              )
graph1 = dict(data=data1, layout=layout)
py.iplot(graph1, layout=layout)
#py.iplot(graph1, filename='first')
#, trace2]
#py.iplot(graph1)

In [ ]:
income = [go.Scatter(x=gpi_year, y=gpi_income)]
py.iplot(income)

In [ ]:
gpi_income

In [ ]:
from datetime import datetime

### Geprobeerd een regressie te doen, snap nog niet goed wat de uitkomst is
<a name="7"></a>

In [ ]:
slope, intercept = np.polyfit(pbw_nederland, avw_nederland, 1)

In [ ]:
slope

In [ ]:
intercept

In [ ]:
print(pearson_r(pbw_nederland, gpi_income))