| Name | SNR |
| --- | --- |
| Emy Meurs | u1250696 |
| Dennis Berens | u1251106 |

# Is there a housing bubble in the Netherlands?
<dt>A grahpical and regression analysis of CBS data</dt>

<b>Date:</b> January 31, 2018 <br> <b>Course:</b> Applied Economic Analysis

### Table of contents

<a href="#Introduction">Introduction</a>


<a href="#2">Research question and method</a>


<a href="#3">Answer</a>


<a href="#4">Importing libraries and data</a>


<a href="#5">Data</a>


<a href="#6">Graphs</a>


<a href="#7">Regression</a>

***

## Introduction
<a name="Introduction"></a>

Piketty <a href="https://dowbor.org/blog/wp-content/uploads/2014/06/14Thomas-Piketty.pdf">(2014)</a> showed in his research that inequality is on the rise, this is mainly due to the faster growing r compared to g. Therefore the wealth of the capitalist class will grow faster than the incomes of workers, leading to an 'endless inegalitarion spiral'. One important factor of this increased wealth is housing. Also Maclennan and Miao <a href="http://www.tandfonline.com/doi/pdf/10.1080/14036096.2017.1293378">(2017)</a> provide some evidence of the importance of housing in total wealth. They show that the demand for housing is income inelastic, it will grow faster then income, and price inelastic, demand falls slower than the rise of the prices. This can explain the housing bubble that started the crisis in 2008, as housing is a great part of wealth a burst of the bubble creates a crisis. 

The video below shows the effect of surging housing prices on accessibility of cities for starters.

<a href="http://www.youtube.com/watch?feature=player_embedded&v=cdkS5Bg3e4A
" target="_blank"><img src="http://img.youtube.com/vi/cdkS5Bg3e4A/0.jpg" 
alt="Economist Video" width="240" height="180" border="10" /></a>

If we focus on the Netherlands, we can see that the housing prices are on the rise again and demand only keeps growing. As Claeys and schoenmaker <a href="http://bruegel.org/2017/01/amsterdams-boom-bust-housing-market-needs-its-own-mortgage-limits/">(2017)</a> show, especially Amsterdam is boomind at the moment. This is good for homeowners, but if this rise in prices turns out to be a bubble, they might also be in danger.

<img src="Capture.JPG" alt="picture">  

In this assignment we will have a look if the bubble is enlargening in The Netherlands by looking at the demand versus income and the demand versus housing prices.

***

## Research question
<a name="2"></a>
In this analysis we dive deeper into the Dutch housing market right now. In particular, we aim to answer the following question: Is there a housing bubble in (a part of) the Netherlands?

### Methodology
We will use data from the CPB that gives the national income, the housing prices and the amount of houses that has been sold. With this data we will see if there is indeed income elasticity and price inelasticity. We will compare the national income with the housing prices to se the correlation. After we will show how the housing prices move compared to the amount of houses sold in the Netherlands. Finally we will conduct a short regression on the effect of both housing prices as houses sold on the national income to see if Piketty was right, that housing has become a great part of wealth.

In [96]:
# Importing requires packages
import pandas as pd
import plotly.plotly as py
import cufflinks as cf
import plotly.graph_objs as go
import plotly.figure_factory as f
from plotly.grid_objs import Grid, Column
import plotly.tools as tls
import numpy as np
from datetime import datetime
import statsmodels.api as sm
from sklearn import datasets, linear_model
from scipy import stats

***

## Data
<a name="5"></a>

We use data from the StatLine site of the CPB. The data concerns the average primaire income of Dutch people from 2000-2016. We also use the Price index of existing houses in the Netherlands, these count or 1995-2000-2005-2011/2017. This time frame is also used for the amount of houses sold.

In [15]:
#load data set
avw = pd.read_csv("AVW.csv", delimiter=";", skiprows=1) #aantalverkochtewoningen
gpi = pd.read_csv("GPI.csv", delimiter=";") #gemiddeldprimairinkomen
pbw = pd.read_csv("PBW.csv", delimiter=";", skiprows=1) #prijsindexbestaandewoningen
com = pd.read_csv("combined_pbw_avw.csv", delimiter=",") #combined dataset
avw_nederland = avw['Nederland'] #select column Netherlands 
pbw_nederland = pbw['Nederland']
pbw_amsterdam = pbw['Amsterdam'] #select column Amsterdam
time = pbw["Regio's"] #set time as the years in the table
gpi_year = gpi["Unnamed: 0"] 
gpi_income = gpi["Gemiddeld persoonlijk primair inkomen"]

In [37]:
#declare variables for later use
gpi_reg = gpi_income[9:17]
pbw_reg = pbw_nederland[3:11]
avw_reg = avw_nederland[3:11]

In [38]:
#login to plotly
tls.set_credentials_file(username='dennisberens24', api_key='758qNm6k6k8QtFrqN3sk')

### House Price Index
Below, the price index of houses in a selection of provinces is shown.

In [18]:
#show the price index for current houses
pbw

,Regio's,Nederland,Groningen (PV),Zuid-Holland (PV),Noord-Brabant (PV),Amsterdam,Rotterdam,Unnamed: 7
0,1995,37.6,38.1,38.9,36.2,30.0,37.1,NaN
1,2000,71.1,62.3,69.7,69.9,68.7,67.0,NaN
2,2005,94.4,94.5,95.4,94.8,81.9,93.3,NaN
3,2010,100.0,100.0,100.0,100.0,100.0,100.0,NaN
4,2011,97.6,96.9,98.3,96.8,99.7,99.3,NaN
5,2012,91.3,90.7,91.9,89.9,94.0,94.4,NaN
6,2013,85.3,85.8,86.3,83.4,89.1,89.1,NaN
7,2014,86.1,85.2,87.4,83.7,93.7,90.5,NaN
8,2015,88.5,87.5,90.0,85.6,102.8,94.5,NaN
9,2016,93.0,91.6,94.6,88.9,116.7,101.3,NaN
10,2017,100.0,96.8,102.5,94.3,133.1,114.4,NaN

### Income

We also take a further look at the average personal primary income.

In [19]:
gpi

    Unnamed: 0  Gemiddeld persoonlijk primair inkomen
0         2000                                   33.2
1         2001                                   35.3
2         2002                                   36.4
3         2003                                   36.6
4         2004                                   37.8
5         2005                                   38.4
6         2006                                   40.0
7         2007                                   42.4
8         2008                                   43.2
9         2009                                   42.9
10        2010                                   42.9
11        2011                                   43.2
12        2012                                   43.6
13        2013                                   43.7
14        2014                                   44.9
15        2015                                   45.2
16        2016                                   45.6

### Number of houses sold
Lastly, we show the number of houses sold for the same period as the data on house prices.

In [20]:
avw

,Nederland,Groningen (PV),Zuid-Holland (PV),Noord-Brabant (PV),Amsterdam,Rotterdam
0,154568,5512,36098,23502,2864,4987
1,189358,6871,43079,28002,4951,6533
2,206629,6837,46171,29671,9279,7332
3,126127,4347,27793,17330,7697,4363
4,120739,4093,26328,16697,7638,4015
5,117261,3722,24917,16583,7205,3726
6,110094,3590,23116,15683,6976,3581
7,153511,4748,31269,22286,11285,5080
8,178293,5420,37498,25304,12494,6166
9,214793,6435,46512,30762,12415,7664
10,241860,7297,52198,36329,11286,8278

***

## Graphical analysis
<a name="6"></a>
Before doing regressions, we first take a graphical look at the data.

### Scatter plots
To see whether there is any trend we can find, we first create a scatter plot of housing prices in the Netherlands and Amsterdam.

In [72]:
trace1 = go.Scatter(
    x=time, 
    y=pbw_nederland, 
    name='Netherlands', 
    line=dict(
        color=  ('rgb(66, 134, 244)'),
        width= 5
        )
    )
trace2 = go.Scatter(
    x=time, 
    y=pbw_amsterdam, 
    name='Amsterdam', 
    line=dict(
        color=  ('rgb(65, 244, 226)'),
        width= 5
        )
    )
data1 = [trace1, trace2]
layout = dict(title = 'Housing Prices',
              xaxis = dict(title = 'Years'),
              yaxis = dict(title = 'Housing prices in euros (x1000)'),
              )
graph1 = dict(data=data1, layout=layout)
py.iplot(graph1, layout=layout)

We do the same for income.

In [71]:
income = [go.Scatter(
    x=gpi_year, 
    y=gpi_income,
    name='Netherlands', 
    line=dict(
        color=  ('rgb(66, 134, 244)'),
        width= 5
        )
)]
py.iplot(income)

### Development per region over time
From the example above we see that the path of house prices is not linear, and that the trend differs for the Netherlands as a whole and Amsterdam in particular. Therefore we will construct a graph that depicts the number of houses sold and the average price of a house per region, over time.

In [46]:
#First, we select the data from the dataset we imported previously
years_from_col = set(com['Year'])
years_ints = sorted(list(years_from_col))
years = [str(year) for year in years_ints]
areas = [] #make a list of areas to use later
for area in com['Area']:
    if area not in areas: 
        areas.append(area)
columns = [] # make a grid in order to be able to use the data in this type of graph
for year in years:
    for area in areas:
        com_by_year = com[com['Year'] == int(year)]
        com_by_year_and_area = com_by_year[com_by_year['Area'] == area]
        for col_name in com_by_year_and_area:
            column_name = '{year}_{area}_{header}_com_grid'.format(
                year=year, area=area, header=col_name
            )
            a_column = Column(list(com_by_year_and_area[col_name]), column_name)
            columns.append(a_column)
grid = Grid(columns)
url = py.grid_ops.upload(grid, 'com_pbw_avw_grid', auto_open=False) # save the grid in the plotly account we signed in to before

In [47]:
#Second, we create a (nearly empty) figure
figure = {
    'data': [],
    'layout': {},
    'frames': [],
    'config': {'scrollzoom': True}
}

#and fill the layout with 
figure['layout']['xaxis'] = {'range': [2500, 250000], 'title': 'Number of Houses Sold', 'gridcolor': '#FFFFFF'}
figure['layout']['yaxis'] = {'range': [20, 140], 'title': 'Average Value House','gridcolor': '#FFFFFF'}
figure['layout']['hovermode'] = 'closest'
figure['layout']['plot_bgcolor'] = 'rgb(250, 232, 243)'

In [48]:
#We want to be able to scroll through the graph over the years
sliders_dict = {
    'active': 0,
    'yanchor': 'top',
    'xanchor': 'left',
    'currentvalue': {
        'font': {'size': 20},
        'prefix': 'Year:',
        'visible': True,
        'xanchor': 'right'
    },
    'transition': {'duration': 500, 'easing': 'cubic-in-out'},
    'pad': {'b': 10, 't': 50},
    'len': 0.8,
    'x': 0.1,
    'y': 0,
    'steps': []
}

In [73]:
#For which we need buttons
figure['layout']['updatemenus'] = [
    {
        'buttons': [
            {
                'args': [None, {'frame': {'duration': 500, 'redraw': False},
                         'fromcurrent': True, 'transition': {'duration': 300, 'easing': 'quadratic-in-out'}}],
                'label': 'Play',
                'method': 'animate'
            },
            {
                'args': [[None], {'frame': {'duration': 0, 'redraw': False}, 'mode': 'immediate',
                'transition': {'duration': 0}}],
                'label': 'Pause',
                'method': 'animate'
            }
        ],
        'direction': 'left',
        'pad': {'r': 10, 't': 100},
        'showactive': False,
        'type': 'buttons',
        'x': 0.1,
        'xanchor': 'right',
        'y': 0,
        'yanchor': 'top'
    }
]
#In order to make clear which dot is what
custom_colors = {
    'Nederland': 'rgb(66, 134, 244)',
    'Groningen (PV)': 'rgb(230, 99, 250)',
    'Zuid-Holland (PV)': 'rgb(99, 110, 250)',
    'Noord-Brabant (PV)': 'rgb(25, 211, 243)',
    'Amsterdam': 'rgb(65, 244, 226)',
    'Rotterdam': 'rgb(50, 211, 250)',
}

In [50]:
col_name_template = '{year}_{area}_{header}_com_grid'
year = 1995
for area in areas:
    data_dict = {
        'xsrc': grid.get_column_reference(col_name_template.format(
            year=year, area=area, header='AVW'
        )),
        'ysrc': grid.get_column_reference(col_name_template.format(
            year=year, area=area, header='PBW'
        )),
        'mode': 'markers',
        'textsrc': grid.get_column_reference(col_name_template.format(
            year=year, area=area, header='Area'
        )),
        'marker': {
            'sizemode': 'Area',
            'sizeref': 200000,
            'color': custom_colors[area] #and color the dot in the previously chosen color
        },
        'name': area
    }
    figure['data'].append(data_dict)

In [51]:
#Now we state which axis shows data from what column for each area and each year
for year in years:
    frame = {'data': [], 'name': str(year)}
    for area in areas:
        data_dict = {
            'xsrc': grid.get_column_reference(col_name_template.format(
                year=year, area=area, header='AVW'
            )),
            'ysrc': grid.get_column_reference(col_name_template.format(
                year=year, area=area, header='PBW'
            )),
            'mode': 'markers',
            'textsrc': grid.get_column_reference(col_name_template.format(
                year=year, area=area, header='Area'
                )),
            'marker': {
                'sizemode': 'area',
                'sizeref': 200000,
                'color': custom_colors[area] #and color the dot in the previously chosen color
            },
            'name': area
        }
        frame['data'].append(data_dict)

    figure['frames'].append(frame)
    
    #Now we are ready to concstruct an animation
    slider_step = {'args': [
        [year],
        {'frame': {'duration': 500, 'redraw': False},
         'mode': 'immediate',
       'transition': {'duration': 500}}
     ],
     'label': year,
     'method': 'animate'}
    sliders_dict['steps'].append(slider_step)

figure['layout']['sliders'] = [sliders_dict]

In [60]:
#And let plotly create it
py.icreate_animations(figure, ('pbw_avw'))

In [63]:
#url in case the graph is not shown in git
#https://plot.ly/~dennisberens24/78/

We can make several observations from this graph
* In 1995 the regional differences in house prices where relatively small compared to today
* At the time when the index of house prices is 100 (in 2010), the number of houses sold in Groningen (province) is almost the same as the number of houses sold in Rotterdam (municipality).
* When house prices fell (further) after 2010, this mainly happend in relatively periphical areas such as Groningen and Noord-Brabant. The large cities were less affected.
* In 2014 house prices did not rise dramatically yet, but the number of houses sold increased. This could indicate an increase in demand for houses that in some cases might have been for sale for quite some time.
* Afterwards house prices continued to climb again. In Amsterdam prices in 2015 were on average already 2.8% higher than in 2010, whereas prices where lower than in 2010 elsewhere in the Netherlands.
* Moving on to 2017 we see that the points on the graph have diverged: whereas in 1995 differences where present though not very substantial, in 2017 the dots for the cities and provinces are further away from each other.
* It has taken exactly 7 years for house prices in the Netherlands to be at the same level (on average) as in 2010. At the same time house prices in Amsterdam have risen by 33.1% whereas those in Groningen have fallen by 3.2%. 

### Summary graphical analysis

From the graphs we have created, we can conclude that.
1. For this set of areas, there has been divergence in the number of houses sold as well as the average price of a house.
2. House prices in the Netherlands have been falling, but the increase in prices has differed across regions.
3. A higher average price does not always lead to more houses being sold, indicating that demand may outweigh supply.

Next, we will use a regression analysis to take a more in depth look at the data.

***

## Regression analysis
<a name="7"></a>
In this analysis we aim to find out whether there is a (significant) relationship between income, housing prices and the number of houses sold.

In [113]:
#declare variables
x = list(gpi_reg)
y = list(pbw_reg)
z = list(avw_reg)

For the scope of this assignment, we believe it to be most appropriate to use a simple OLS regression.

$$ 
\begin{array}{rcl} 
Y_1 & = & \alpha + \beta_{1} X + \epsilon \\
Y_2 & = & \alpha + \beta_{2} Z + \epsilon
\end{array} $$

In [114]:
#A simple model with income and number of houses sold
model1 = sm.OLS(y, x).fit()
predictions = model1.predict(y)

In [115]:
model1.summary() #summary statistics of this model

C:\Users\Dennis\Anaconda3\lib\site-packages\scipy\stats\stats.py:1334: UserWarning:

kurtosistest only valid for n>=20 ... continuing anyway, n=8

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.996
Model:                            OLS   Adj. R-squared:                  0.995
Method:                 Least Squares   F-statistic:                     1714.
Date:                Wed, 31 Jan 2018   Prob (F-statistic):           1.25e-09
Time:                        20:49:52   Log-Likelihood:                -25.585
No. Observations:                   8   AIC:                             53.17
Df Residuals:                       7   BIC:                             53.25
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             2.1063      0.051     41.396      0.000       1.986       2.227
==============================================================================
Omnibus:                        1.613   Durbin-Watson:                   0.548
Prob(Omnibus):                  0.446   Jarque-Bera (JB):                0.793
Skew:                           0.344   Prob(JB):                        0.673
Kurtosis:                       1.620   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [118]:
#A simple model with number of houses sold and housing prices
model2 = sm.OLS(y, z).fit()
predictions = model2.predict(y)

In [119]:
model2.summary()

C:\Users\Dennis\Anaconda3\lib\site-packages\scipy\stats\stats.py:1334: UserWarning:

kurtosistest only valid for n>=20 ... continuing anyway, n=8

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.927
Model:                            OLS   Adj. R-squared:                  0.916
Method:                 Least Squares   F-statistic:                     88.68
Date:                Wed, 31 Jan 2018   Prob (F-statistic):           3.17e-05
Time:                        20:50:18   Log-Likelihood:                -37.143
No. Observations:                   8   AIC:                             76.29
Df Residuals:                       7   BIC:                             76.37
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0005   5.77e-05      9.417      0.000       0.000       0.001
==============================================================================
Omnibus:                        2.209   Durbin-Watson:                   0.191
Prob(Omnibus):                  0.331   Jarque-Bera (JB):                0.918
Skew:                          -0.387   Prob(JB):                        0.632
Kurtosis:                       1.532   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""